<form id="upload">
  <div class="outer">
    <div>
    <% if (!Parse.User.current()) { %>
          <h1> Welcome!</h1>
        <% } else { %>
          <h1> Welcome  <%= Parse.User.current().get('firstName') %> !</h1>
          <% } %>
      <h2> Gamble With Your Friends' Sleep!</h2>
    </div>
  </div>
</form>
</div>
