<form  id="leaderboard">
  <h1>Top Sleepers</h1>
  <div class="outer">
      
      <div>
        <ol>
            <% for(var i=0; i<leaderBoardArr.length; i++) { %>
              <li> <%= leaderBoardArr[i] %> </li>
            <% } %>
        </ol>
      </div>
 
  </div>
</form>



