<form id="leaderboard">
  <div class="outer">
    <div>
      <h1>Top Sleepers</h1>
        <ol>
          <li></li>
          <li> Claire: 27 </li>
          <li> Praveen: 8 </li>
          <li> Francesco: 7 </li>
          <li> Thomas: 12 </li>
          <li> Zaid: 10 </li>
        </ol>
    </div>
  </div>
</form>



