<form action="/sleep" method="get" id="leaderboard">
  <div class="outer">
    <div>
      <h1>Top Sleepers</h1>
        <ol>
          <li></li>
          <li> Claire: 27 </li>
          <li> Praveen: 8 </li>
          <li> Francesco: 7 </li>
          <li> Thomas: 12 </li>
          <li> Zaid: 10 </li>
        </ol>

      <%
          Parse.Cloud.run('getLeaders', {
            success: function(leaderBoardArr) {
              var leaderBoardArr = leaderBoardArr;
              console.log(leaderBoardArr[0]);
              <% for(var i=0; i<leaderBoardArr.length; i++) { %>
              <li>
                  <%= leaderBoardArr[i] %>
              </li>
              <% } %>
            },
            error: function(error) {
            }
          });
      %>
 

    </div>
  </div>
</form>



