<form  id="leaderboard">
  <div class="outer">
    <div>
      <h1 id= "topSleeperLabel"> <%= "Top Sleepers"%></h1>
    </div>
      
      <div id= "leaderboard">
        <ol>
            <% for(var i=0; i<leaderBoardArr.length; i++) { %>
              <div id= "listItem">
                <li> <%= leaderBoardArr[i] %> </li>
              </div>
            <% } %>
        </ol>
      </div>
 
  </div>
</form>



