<form action="/login" method="post" id="login">
  <h2>Log In</h2>

  <label for="username">Username</label>
  <input type="text" value="" name="username" />
  
  <label for="password">Password</label>
  <input type="password" value="" name="password" />
  
  <div class="submit">
    <button>Log In</button>
  </div>
</form>
