<form action="/login" method="post" id="login">
  <h2 id = "loginHeader">Log In</h2>

  <label for="username">Username</label>
  <input type="text" value="" placeholder="username" name="username" />
  
  <label for="password">Password</label>
  <input type="password" value="" placeholder="password" name="password" />
  
  <div class="submit">
    <button>Log In</button>
  </div>
</form>
