<form action="/makeBet" method="post" id="makeBet">
  <h1 id ="makeBetLabel">Bet A Friend!</h1>

<div id ="makeBet">
  <label for="usernameToBet">UserName to Bet</label>
  <input type="text" placeholder="Username to Bet" name="usernameToBet" />

  <label for="hoursBet">Hours to Bet</label>
  <input type="text" placeholder="Hours to Bet" name="hoursBet" />

  <div class="submit">
  <button id = "makeBet">Make Bet</button>
  </div>
</div>
  
</form>