<form action="/signup" method="post" id="signup">
  <h2>Sign Up</h2>

  <label for="username">Username</label>
  <input type="text" value="" name="username" />
  
  <label for="password">Password</label>
  <input type="password" value="" name="password" />

  <label for="username">First Name</label>
  <input type="text" value="" name="firstName" />

  <label for="username">Last Name</label>
  <input type="text" value="" name="lastName" />

   <label for="username">Email</label>
  <input type="text" value="" name="email" />

  <label for="username">Phone Number</label>
  <input type="text" value="" name="phoneNumber" />
  
  <div class="submit">
    <button>Sign Up</button>
  </div>
</form>
