
<form action="/sleep" method="post" id="sleep">

  <h1> Have You Been Sleeping More? </h1>
  <div>
    <label for="hoursSlept">How Much Did You Sleep Last Night?</label>
    <input id="hoursSlept" type="text" placeholder="Hours Slept" name="hoursSlept"> 

    <div class="submit">
    <button id="enterSleep">Enter Sleep</button>
    </div>


  </div>
</form>