
<form action="/sleep" method="post" id="sleep">

  <h1 id = "sleepingLabel"> Have You Been Getting Enough Sleep? </h1>
  <div id = "inputSleep">
    <label for="hoursSlept">Sleep Last Night</label>
    <input id="hoursSlept" type="text" placeholder="Hours Slept" name="hoursSlept"> 

    <div class="submit">
    <button id="enterSleep">Enter Sleep</button>
    </div>


  </div>
</form>